.topic {
  margin-top: 100px;




  .btn-group {
    .btn-primary {
      font-size: 20px;
      border: 1px solid red;
      border-radius: 20px;
    }

    button {
      margin-right: 10px;
    }

  }

  .main_content {


    .continue-learning {
      margin-top: 20px;

      .text-continue-learning {

        font-size: 24px;
        font-weight: 20px;
      }
    }

    .card {
      width: 237px;
      height: 200px;
      display: inline-block;
      margin-right: 20px;
      margin-top: 20px;
      cursor: pointer;


      .card-body {
        padding: 0;
      }
    }

    .topic-list {
      margin-top: 20px;

      .topic-item {
        margin-top: 20px;
      }
    }


  }

}

.lesson-name {
  text-align: center;
  color: #69B4F9;
}

.modal-name-topic .modal-title h4 {
  color: #69B4F9;
}

.list-voca{
  margin-left: 60px;
}