


.button-dowload{

    margin-top: 10px;
    border: none;
    height: 50px;
    width: 150px;
    background-color: #69B4F9;
    border-radius: 20px;
}
.button-dowload:hover{
    cursor: pointer;
    background-color: #a6d1fa;
}