.css-4pax7l-MuiPickersLayout-root .MuiPickersLayout-actionBar {

    display: none;
}
.css-1hbyad5-MuiTypography-root{
    display: none;
}

.css-15jcv2p-MuiPickersToolbar-content{
    justify-content: center !important;
    // display: none;
    // padding: 1rem;
}