// .content{
//     padding-left: 0 !important;
//     padding-right: 0 !important;
// }

body{
    font-family: "Open Sans", sans-serif !important;
}
#content1 {
    overflow: hidden;
    background-color: rgb(0, 17, 34);
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
#row-top{
   padding: 10px;
}

.content-top {
    margin-top: 50px;

    .content__home {
        border: 1px solid rgb(233, 232, 232);
        width: 410px;
        height: 500px;
        border-radius: 10px;
        margin-top: 50px;
        margin-right: 20px;
    
        .process-learn,
        .tool-following {
            font-size: 20px;
            font-weight: 700;
        }
    
        .img-fix{
            // max-width: 410px;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 300px;
            object-fit: cover;
    
        }
    
        .content__home--bottom {
            // padding: 2rem 1.5rem;
            // max-width: 20rem;
            position: absolute;
            width: 100%;
            place-items: center;
            display: grid;
            gap: 1rem;
            margin: auto;
            text-align: center;
            top: 70%;
    
            .btn-primary {
                background-color: #69B4F9;
                width: 70%;
                height: 45px;
                border-radius: 15px;
                box-shadow: (0px 4px 4px rgba(40, 120, 232, 0.25));
            }
        }
    
        .content__home--middle {
            // border: 1px solid red;
            // padding: 10px; //fixx
            margin-bottom: 15px;
            width: 100%;
            height: 100px;
            border-radius: 10px;
            background-color: rgb(208, 247, 255);
    
    
            img {
                width: 30px;
                height: 30px;
                margin-right: 10px;
            }
    
            .content__home--middle--top {
                display: flex;
                padding-top: 10px;
    
                p {
                    line-height: 30px;
    
                }
            }
    
            .content__home--middle--bottom {
                font-weight: 700;
                font-size: 20px;


                
            }
        }
    
        .content__home--note {
            display: flex;
    
            p {
                line-height: 20px;
                margin-left: 10px;
            }
    
        }
    
        .content__home--subnote {
            width: 20px;
            height: 20px;
            border: 1px solid rgb(255, 255, 255);
            border-radius: 50%;
            background-color: #71b3f1;
    
        }
    }

    .content {
        margin-top: 20px;
    
        .content__left{
            width: 410px;
            border: 1px solid rgb(233, 232, 232);
            border-radius: 10px;
            height: 300px;
            background-color: #e9edef;

             p{
                font-size: 20px;
                font-weight: 700;
                margin-top: 10px;
            }
            .word-diff-practice{

                .word-diff{
                    border: 1px solid rgb(255, 255, 255);
                    height: 80px;
                    border-radius: 10px;

                    .sub-word{

                        display: flex;

                        h5{
                            padding: 10px;
                        }
                    }

                }
            }
        }
        .content__middle {
            width: 410px;
            border: 1px solid rgb(233, 232, 232);
            border-radius: 10px;
            height: 300px;
            margin-left: 20px;
            background-color: #dae7f4;
        }
    
        .content__right {
            width: 410px;
            border-radius: 10px;
            border: 1px solid rgb(233, 232, 232);
            margin-left: 20px;
            background-color: #69B4F9;
    
    
            .content__right--title {
    
                h5 {
                    font-weight: 700;
                    margin-top: 10px;
                }
    
    
                p {
                    font-size: 14px;
    
                }
            }
    
            .content__right--timelearn {
                width: 100%;
                height: 120px;
                background-color: #ffffff;
                border-radius: 15px;
                padding: 20px;
                margin-top: 50px;
    
                p {
                    color: #000000;
                    font-weight: 700;
                    font-size: 18px;
                }
    
                span {
                    font-weight: 700;
                    line-height: 5px;
                    font-size: 18px;
                }
    
    
                .span-time {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 40px;
    
                    .time {
                        width: 250px;
                        height: 5px;
                        background-color: #c9c9c9;
                        border-radius: 10px;
                    }
                }
    
    
            }
        }
    
    }
    
}









// @media (max-width:960px) {
//     #content1 {
//         display: flex;
//         flex-direction: row;
//         width: 100%;
//         height: 400px;
//         margin-right: 0;
//         margin-left: 0;

//         img {
//             width: 300px;
//         }
//     }

// }