

body{
  font-family: "Open Sans", sans-serif !important;
}
#mainnav {
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(175, 175, 175, 0.25);
  padding: 15px 20px; 




  // height: 50px;
  img {
    // min-width: 150px;
    width: 150px;
    height: 70px;
  }

  .nav-content {
    display: flex;
    // justify-content: space-between;
    // align-items: center;
    // gap: 100px;
  }

  .nav-left{
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  .nav-rigth {
    display: flex;
    align-items: center;
   
  }
 

  .user-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 20px; /* Add margin for spacing */
}

  .dropdown-menu {
    position: absolute;
    left: auto;
    right: 30px;
    top: 71px;
  }


}

#navbarSupportedContent {
  display: flex;
  justify-content: space-between;


  .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center; // Center the nav items horizontally.
    width: 100%; // Occupy the full width of the container.
  }
  .nav-link {
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
    margin-left: 30px;
    color: #000;
    transition: border-bottom 0.3s ease-in-out;
  }
  // .nav-link:hover{
  //   border-bottom: 7px solid  #69B4F9;
  // }
  .nav-link.active{
    // color: #69B4F9;
    border-bottom: 7px solid  #69B4F9;
    border-radius: 10px;
    box-shadow:0px 4px 4px rgba(112, 112, 112, 0.25); ;
    // background-color:#abd6fd; ;
  }
  .user-icon{
    min-width: 0px;
  }

  



}

.user-infor{
  border-bottom: 1px solid rgb(213, 213, 213);
  padding: 10px;
}
.li-fix{
  border-bottom: 1px solid rgb(213, 213, 213);
  height: 50px;
}
.li-fix:hover{
  background-color:rgb(213, 213, 213); 
}
.li-fix:last-child{
  border-bottom: none;
}
.li-fix a{
  line-height: 40px;
}