

body{
  font-family: "Open Sans", sans-serif !important;
}
#mainnav {
  background-color: #ffffff;
  // width: 100%;
  // display: flex;


  box-shadow: 0px 4px 4px rgba(175, 175, 175, 0.25);

  // height: 50px;
  img {
    // min-width: 150px;
    width: 150px;
    height: 70px;
  }

  .nav-content {
    display: flex;
    // justify-content: space-between;
    // align-items: center;
    // gap: 100px;
  }

  .nav-rigth {
    // position: relative;
    // right: 0;
    margin-right: 20px;
  }

  .user-icon {
    width: 30px;
    /* Điều chỉnh kích thước của icon user */
    height: 30px;
    cursor: pointer;
  }

  .dropdown-menu {
    position: absolute;
    left: auto;
    right: 30px;
    top: 71px;
  }


}

#navbarSupportedContent {
  display: flex;
  justify-content: space-between;

  .nav-link {
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
    margin-left: 30px;
    color: #000;
  }
  .nav-link:hover{
    border-bottom: 7px solid  #69B4F9;
  }
  .user-icon{
    min-width: 0px;
  }


}
.user-infor{
  border-bottom: 1px solid rgb(213, 213, 213);
  padding: 10px;
}
.li-fix{
  border-bottom: 1px solid rgb(213, 213, 213);
  height: 50px;
}
.li-fix:hover{
  background-color:rgb(213, 213, 213); 
}
.li-fix:last-child{
  border-bottom: none;
}
.li-fix a{
  line-height: 40px;
}