.content {
    margin-top: 100px;


    .content_video {
        // width: 1250px;

        .content__video--top {
            display: flex;
            justify-content: space-between;

            .content__video--top--left {
                display: flex;


                .all,
                .watch {
                    margin: 5px;
                    display: flex;
                    width: 100px;
                    height: 30px;
                    background-color: rgb(255, 255, 255);
                    border-radius: 20px;
                    border: 1px solid rgb(209, 207, 207);
                    align-items: center;
                    justify-content: center;
                    transition: box-shadow 0.3s ease, transform 0.3s ease;

                }

                .all.active,
                .watch.active {
                    box-shadow: 0px 2px 3px 3px rgba(38, 152, 233, 0.5);
                    transform: scale(1.1);
                }
            }

            .content__video--top--right {
                margin-top: 5px;


                input {
                    border-radius: 10px;
                    border: 1px solid rgb(183, 183, 183);
                }

                input[type=text]:focus {
                    border: 3px solid #dc4e4e;
                }

            }
        }

        .content__video--middle {

            // width: 100%;
            .content__video--middle--top {

                display: flex;
                // flex-direction: column;
                margin-top: 50px;
                justify-content: space-between;



                .content__video--middle--left {

                    span {
                        margin: 5px;
                        font-weight: 700;
                        font-size: 20px;
                    }
                }

                .content__video--middle--right {

                    button {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background-color: #ffff;
                        margin: 5px;
                    }

                    .btn-all {
                        width: 50px;
                        height: 30px;
                        border: 1px solid rgb(209, 207, 207);
                        border-radius: 30px;

                        a {
                            text-decoration: none;
                            color: #ffff;
                        }
                    }

                    .img-fix {
                        img {
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }

            .content__video--middle--middle {

                display: flex;
                flex-direction: column;
                margin-top: 50px;
                justify-content: space-between;

                .display-fix {
                    display: flex;
                }

                .content__video--middle--left {

                    span {
                        margin: 5px;
                        font-weight: 700;
                        font-size: 20px;
                    }
                }

                .content__video--middle--right {

                    button {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background-color: #ffff;
                        margin: 5px;
                    }

                    .btn-all {
                        width: 50px;
                        height: 30px;
                        border: 1px solid rgb(209, 207, 207);
                        border-radius: 30px;
                    }

                    .img-fix {
                        img {
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }

            .content__video--middle--bottom {
                // width: 800px;
                height: 100px;
                display: flex;


                .one-chanel {
                    margin: 10px;
                    position: relative;
                    width: 245px;


                    border-radius: 10px;
                    // background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://vt-cdn.voicetube.com/assets/img/page/home/channels/learning.jpg");
                    // background-size: cover;
                    // // background-attachment: fixed;
                    // background-repeat: no-repeat;
                    // background-position: center center;

                    .title {
                        position: relative;
                        display: flex;
                        border-radius: 10px;
                        width: 100%;
                        height: 100%;
                        color: #ffff;
                        text-decoration: none;
                        overflow: hidden;
                        // background-size: cover;
                        // background-repeat: no-repeat;
                        // background-position: center center;

                        img {
                            width: 100%;
                            object-fit: cover;
                            position: center center;
                        }

                    }

                    .title::before {
                        content: "";
                        z-index: 1;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(180deg, rgba(9, 9, 9, 0.5) 0.07%, rgba(0, 0, 0, 0.92) 100%)
                    }

                    .title::after {
                        z-index: 1;
                        content: "";
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 100%;
                        height: 100%;
                        border: 1px solid #787878;
                        opacity: 0;
                        transition: opacity (300ms ease-out);

                    }

                    .title [data-title] {
                        z-index: 1;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 14px;
                    }

                }

            }

            .content__video--middle--content {
                display: flex;
                // width: 100%;


                .container-content {
                    width: 245px;
                    height: 320px;
                    margin: 10px;
                    border-radius: 10px;
                    border: 1px solid rgb(182, 181, 181);
                    background-color: #ffffff;
                    overflow: hidden;


                    .content-img {



                        img {
                            width: 100%;
                            height: 170px;
                            object-fit: cover;
                            border-radius: inherit;

                        }
                    }

                    .content-title {
                        padding: 20px 10px;


                        a {
                            // overflow: hidden;

                            text-decoration: none;
                            color: #000000;

                        }

                        .line {
                            display: block;
                            margin: 10px 0;
                            width: 100%;
                            border: 0.5px solid rgb(182, 181, 181);
                        }


                        .view-count {
                            display: flex;


                            img {
                                width: 30px;
                                height: 30px;
                            }

                            span {
                                color: #000000;
                                line-height: 30px;
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}